.calculator {
  width: 300px;
  height: 500px;
  background-color: var(--background-color-calculator);
  border-radius: 4%;
  color: var(--text-color-black);
  padding: 18px;
}

.calculator-screen {
  height: 120px;
  padding: 10px;
  display: grid;
  justify-items: end;
  align-items: end;
  margin-bottom: 15px;
  background-color: var(--background-color-calculator-screen);
  color: var(--text-color-black);
}

.calculator-screen p {
  text-align: right;
  font-size: 2rem;
  margin: 0;
}

.buttons {
  display: grid;
  grid-template-areas:
    'ac plus-minus percent division'
    'seven eight nine multi'
    'four five six minus'
    'one two three plus'
    'theme zero dot equal';
  grid-gap: 7px;
  justify-items: center;
}

.btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  user-select: none;
}

.dark-theme {
  --background-color-buttons-white: #333;
  --background-color-buttons-white-grey: #6a6a6a;
  --background-color-buttons-green: #ff9500;
  --background-color-calculator: black;
  --background-color-calculator-screen: rgb(63, 63, 63);
  --text-color-black: white;
}

.dark-theme .light-theme-toggle {
  display: none;
}
.light-theme .dark-theme-toggle {
  display: none;
}

.light-theme {
  --background-color-buttons-white: #ffffff;
  --background-color-buttons-white-grey: #d0d0d07f;
  --background-color-buttons-green: #78e96d;
  --background-color-calculator: rgb(239, 239, 239);
  --background-color-calculator-screen: rgb(205, 205, 205);
  --text-color-black: #000000;
}

.btn.bg-white {
  background-color: var(--background-color-buttons-white);
}

.btn.bg-white-grey {
  background-color: var(--background-color-buttons-white-grey);
}

.btn.bg-green {
  background-color: var(--background-color-buttons-green);
}
